<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwua.mapper.StudentMapper">
    <select id="findStudentbYiD" resultMap="stu_map">
    select id,sno,sname,ssex from student where  id=#{id}
</select>

    <resultMap id="stu_map" type="com.hwua.pojo.Student">
        <result property="ssex" column="ssex" typeHandler="com.hwua.typehandler.StringToIntHandler"></result>
    </resultMap>


    <select id="FindallStudent" resultType="com.hwua.pojo.Student">
    select id,sno,sname,ssex from student
</select>
    <insert id="saveStudent">
     insert into student(id,sno,sname,ssex) values(#{id},#{sno},#{sname},#{ssex,typeHandler=com.hwua.typehandler.StringToIntHandler});
</insert>

    <delete id="delStudentByID">
        delete from student where id=#{id}
</delete>
    <update id="updateStudent">
        update student set sname=#{sname} where id=#{id}
    </update>

    <select id="finfStudentbYNAMELike" resultType="com.hwua.pojo.Student">
       select id,sno,sname,ssex from student where  sname like concat('%',#{sname},'%')
    </select>
    <select id="findStudentByName" resultType="com.hwua.pojo.Student">
        <!--select  id,sno,sname,ssex from student where sname=#{arg0} and ssex=#{arg1}-->
        select id,sno,sname,ssex from student where sname=#{name} and ssex=#{sex}
    </select>

</mapper>