<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwua.mapper.TeacherMapper">

<select id="findAllTeachers2" resultType="teacher">
select id, t_name as tName,sex,birthday,did from teacher
</select>



 <!--   <select id="findStudentbYiD" resultType="teacher">
        select id, t_name as tName,sex,birthday,did from teacher where id=#{id}
    </select>
    <select id="findTeachersByIds" resultType="teacher">
        /*(1,3,5)*/
        select id,t_name tName,sex,birthday,did from teacher where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>-->


   <!-- <update id="updateTeacher">
        update teacher
        &lt;!&ndash;<set>
            <if test="tName!=null">
                t_name=#{tName},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="birthday!=null">
                birthday=#{birthday},
            </if>
        </set>&ndash;&gt;
        <trim prefix="set" suffixOverrides=",">
            <if test="tName!=null">
                t_name=#{tName},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="birthday!=null">
                birthday=#{birthday},
            </if>
        </trim>
        where id =#{id}
    </update>
-->



    <!--<select id="findTeachers" resultType="teacher">
        select id,t_name tName,sex,birthday,did from teacher
        <trim prefix="where" suffixOverrides="and|or">
            <if test="name!=null">
                t_name=#{name} and
            </if>
            <if test="sex!=null">
                sex=#{sex} and
            </if>
        </trim>
    </select>-->



    <!--<select id="findTeachers" resultType="teacher">
        select id,t_name tName,sex,birthday,did from teacher
        <where>
            <if test="name!=null">
                and t_name=#{name}
            </if>
            <if test="sex!=null">
                and sex=#{sex}
            </if>
        </where>
    </select>


-->

<!--
    <select id="findTeachers" resultType="teacher">
        select id,t_name tName,sex,birthday,did from teacher where 1=1
        <choose>
            <when test="name!=null">
                and t_name like '%${name}%'
            </when>
            <when test="sex !=null">
                and sex=#{sex}
            </when>
            <otherwise>
                and id = 1
            </otherwise>
        </choose>

    </select>-->











    <!--<select id="findTeachers" resultType="teacher">
       select id,t_name tName,sex,birthday,did from teacher where 1=1
       <if test="name!=null">
           and t_name=#{name}
       </if>
       <if test="sex!=null">
           and sex=#{sex}
       </if>

   </select>-->





    <!--
//分布查询实现一对多的  三表
    <select id="findAllTeachers" resultMap="t_d_map">
select id,t_name,sex,birthday,did from teacher
</select>
    <resultMap id="t_d_map" type="teacher">
        <id property="id" column="id"></id>
        <result property="tName" column="t_name"></result>
        <result property="sex" column="sex"></result>
       <result property="birthday" column="birthday"></result>
        <result property="did" column="did"></result>

        &lt;!&ndash;配置一对一的关联关系&ndash;&gt;
        <association property="driverlicense"
                     javaType="driverlicense"
                     select="com.hwua.mapper.DriverLicenseMapper.findDriverLicenseById" column="did">
        </association>
        &lt;!&ndash;配置1对多的关系&ndash;&gt;
        <collection property="cList" javaType="list"
                    ofType="course"
                    select="com.hwua.mapper.CourseMapper.findCoursesByTid"
                    column="id">
        </collection>
    </resultMap>-->














    <!--报错
    <select id="findAllTeachers" resultMap="t_d_map">
select t.id
tid,t.t_name,t.sex,t.birthday,t.did,d.id,d.dno,d.address,c.id
cid,c.cno,c.cname,c.tid ctid from teacher t,driverlicense d,course
c where t.did = d.id and t.id= c.tid
    </select>
    <resultMap id="t_d_map" type="com.hwua.pojo.Teacher">
        <id property="id" column="tid"></id>
        <result property="tName" column="t_name"></result>
        <result property="sex" column="sex"></result>
        <result property="birthday" column="birthday"></result>
        <result property="did" column="did"></result>
        <result property="driverlicense.id" column="id"></result>
        <result property="driverlicense.dno" column="dno"></result>
        <result property="driverlicense.address" column="address"></result>
        <result property="cList.id" column="cid"></result>
        <result property="cList.cno" column="cno"></result>
        <result property="cList.cname" column="cname"></result>
        <result property="cList.tid" column="tid"></result>

    </resultMap>
-->














<!--
//标签对数据的封装   三表
    <select id="findAllTeachers" resultMap="t_d_map">
     select t.id
tid,t.t_name,t.sex,t.birthday,t.did,d.id,d.dno,d.address,c.id
cid,c.cno,c.cname,c.tid ctid from teacher t,driverlicense d,course
c where t.did = d.id and t.id= c.tid
    </select>

    <resultMap id="t_d_map" type="teacher">
        <id property="id" column="tid"></id>
        <result property="tName" column="t_name"></result>
        <result property="sex" column="sex"></result>
        <result property="birthday" column="birthday"></result>
        <result property="did" column="did"></result>
        &lt;!&ndash;配置一对一的关联关系&ndash;&gt;
        <association property="driverlicense"
                     javaType="driverlicense">
            <id property="id" column="id"></id>
            <result property="dno" column="dno"></result>
            <result property="address" column="address"></result>
        </association>
        &lt;!&ndash;配置1对多的关系,ofType指的是集合中存放的数据类型&ndash;&gt;
        <collection property="cList" javaType="list"
                    ofType="course">
            <id property="id" column="cid"></id>
            <result property="cno" column="cno"></result>
            <result property="cname" column="cname"></result>
            <result property="tid" column="ctid"></result>
        </collection>
    </resultMap>-->





<!--
//两表联查绑定数据
    <select id="findAllTeachers" resultMap="t_d_map">
    select t.id tid,t.t_name,t.sex,t.birthday,t.did,d.id,d.dno,d.address from teacher t,driverlicense d where t.did = d.id
    </select>


    <resultMap id="t_d_map" type="Teacher">
        <id property="id" column="tid"></id>
        <result property="tName" column="t_name"></result>
        <result property="sex" column="sex"></result>
        <result property="birthday" column="birthday"></result>
        <result property="did" column="did"></result>
        <result property="driverlicense.id" column="id"></result>
        <result property="driverlicense.dno" column="dno"></result>
        <result property="driverlicense.address" column="address"></result>
    </resultMap>-->



<!--
   //分布查询实现一对一的数据的封装  两表
    <select id="findAllTeachers" resultMap="t_d_map" >
  select id,t_name,sex,birthday,did from teacher;
   </select>
    <resultMap id="t_d_map" type="teacher">
        <id property="id" column="id"></id>
        <result property="tName" column="t_name"></result>
        <result property="sex" column="sex"></result>
        <result property="birthday" column="birthday"></result>
        <result property="did" column="did"></result>
        &lt;!&ndash;配置一对一的关系&ndash;&gt;
        <association property="driverlicense"
                     javaType="driverlicense"
                     select="com.hwua.mapper.DriverLicenseMapper.findDriverLicenseById"
                     column="did">
        </association>
    </resultMap>
-->




<!--
  //标签对数据的封装   两表
  <select id="findAllTeachers" resultMap="t_d_map" >
select t.id tid,t.t_name,t.sex,t.birthday,t.did,d.id,d.dno,d.address from teacher t,driverlicense d where t.did = d.id

   </select>
    <resultMap id="t_d_map" type="teacher">
        <id property="id" column="tid"></id>
        <result property="tName" column="t_name"></result>
        <result property="sex" column="sex"></result>
        <result property="birthday" column="birthday"></result>
        <result property="did" column="did"></result>
        &lt;!&ndash;配置一对一的关联关系&ndash;&gt;
        <association property="driverlicense"
                     javaType="driverlicense">
            &lt;!&ndash;对driverLicense对象的属性进行赋值&ndash;&gt;
            <id property="id" column="id"></id>
            <result property="dno" column="dno"></result>
            <result property="address" column="address"></result>
        </association>
    </resultMap>-->

</mapper>